#игнорирование файлов в подкатологе tmp
tmp/

#игнорирование файлов, заканчивающихся суффиксами _old, _backup
*_old
*_backup

#игнорирование файлов и каталогов Thumbs.db
Thumbs.db

# игнорирование файлов и подкаталогов .DS_Store
.DS_Store